* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #ffbf81;
  margin: 0 20px;
}

header {
  /* background-color: aqua; */
  /* margin-bottom: 25px; */
  padding: 25px;
}

header h1 {
  text-align: center;
}

section {
}

.input--form {
  background-color: #ffd8b1;
  border: 5px solid #fff;
  margin-bottom: 15px;
  padding: 10px;
  align-self: center;
}

.output {
  background-color: #ffd8b1;
  border: 5px solid #fff;
  display: flex;
  gap: space-evenly;
  justify-content: space-evenly;
}

.day-title {
  padding: 2px 5px;
  /* border-bottom: 1px solid #000; */
  padding: 5px 0;
  text-align: center;
  font-size: 16px;
}

.column {
  width: 100%;
  inline-size: 100%;
  align-items: center;
}

.column:not(:last-child) {
  border-right: 1px solid #000;
}

.task {
  text-decoration: none;
  list-style: none;
  /* border-bottom: 1px solid #000; */
  text-align: center;
  font-size: 16px;
  
  width: 90%;
  padding: 5px 0;
  margin-bottom: 10px;
  margin-left: 5%;

  /* inline-size: calc(section-width / 7); */
  overflow-wrap: break-word;
  hyphens: auto;
  
  /* border-bottom: 1px solid #000; */
  border-radius: 5px;
  box-shadow: 2px 3px 10px 0.01px #444;
}

.task:first-child {
  margin-top: 10px;
}

.task:not(:first-child) {
  /* border-top: 1px solid #000; */
}

.task:not(:last-child) {
  margin-bottom: 25px;
}

.border {
  border-bottom: 1px solid #000;
}

#login--button {
  position: absolute;
  top: 10px;
  right: 10px;
}

#register--button {
  position: absolute;
  top: 10px;
  right: 55px;
}

.registration--popup {
  background-color: aqua;
  box-sizing: border-box;
  padding: 20px 10px;
  margin: auto;
  /* opacity: 0; */
  width: fit-content;;
}

.hidden {
  opacity: 0;
}